.header {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
  .header__top-bar {
    display: flex;
    flex-direction: row;
    height: 125px;
  }
  .header__brand {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 923px;
    font-family: "Times New Roman", Georgia, serif;
  }
  .header__logo {
    position: relative;
    box-sizing: border-box;
    border: 2px solid #b7b7b7;
    padding: 13px;
    padding-bottom: 19px;
    font-size: 28px;
    text-transform: uppercase;
    line-height: 19px;
    color: #59c45a;
  }
  .header__logo::after {
    content: 'travel';
    position: absolute;
    bottom: -10px;
    right: 50%;
    transform: translateX(50%);
    padding: 0 20px;
    font-size: 18px;
    background-color: #ffffff;
  }
  .header__navigation {
    width: 100%;
    max-width: 897px;
  }
  .header__jumbotron {
    flex-grow: 1;
    position: relative;
  }

/* ********************************************************************************************* */

.navigation {
  height: 100%;
}
  .navigation__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
  }
  .navigation__item {
    padding: 0 23px;
    height: 100%;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    line-height: 125px;
    color: #474747;
    font-weight: bold;
    text-transform: uppercase;
    user-select: none;
  }
  .navigation__item_active {
    background-color: #59c45a;
    color: #ffffff;
  }
  .navigation__item:not(.navigation__item_active) {
    cursor: pointer;
  }

/* ********************************************************************************************* */

.jumbotron {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url('/images/background.png');
  background-size: cover;
}
  .jumbotron__overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #316b6d;
    opacity: .45;
  }
  .jumbotron__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 1024px;
  }
  .jumbotron__row {}
  .jumbotron__row + .jumbotron__row  {
    margin-top: 55px;
  }
  .jumbotron__row + .jumbotron__row_lowered  {
    margin-top: 100px;
  }
  .jumbotron__title {
    font-family: 'UTM Avo Bold';
    font-size: 68px;
    text-align: center;
    color: #ffffff;
  }
  .jumbotron__description {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    line-height: 38px;
    text-align: center;
    color: #ffffff;
  }
  .jumbotron__controls {
    text-align: center;
  }

/* ********************************************************************************************* */

.button {
  padding: 26px 44px;
  background-color: #59c45a;
  border-radius: 5px;
  font-size: 26px;
  font-weight: bold;
  text-transform: uppercase;
  box-shadow: 0 0 35px rgba(0, 0, 0, .35);
  outline: rgba(0, 0, 0, .35);
  color: #ffffff;
  cursor: pointer;
}
  .button_shadow_green {
    box-shadow: 0 0 35px rgba(89, 196, 90, .65);
  }

/* ********************************************************************************************* */

.section {
  box-sizing: border-box;
  padding: 100px 80px;
}
  .section_split {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
  }
  .section_small {
    padding: 60px;
  }
  .section_paddless {
    padding: 0;
  }
  .section_limited {
    max-width: 1370px;
    margin: 0 auto;
  }
  .section_gray {
    background-color: #efeeee;
  }
  .section__item {}
  .section_split > .section__item {
    min-width: 50%;
  }
  .section__header {
    text-align: center;
  }
  .section__title {
    display: inline-block;
    position: relative;
    padding: 15px;
    padding-top: 0;
    border-bottom: 1px solid #c2c2c2;
    font-family: 'Lato', sans-serif;
    font-size: 28px;
    text-transform: uppercase;
    color: #59c45a;
  }
  .section__title::after {
    display: block;
    content: '';
    position: absolute;
    bottom: -2px;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 3px;
    background-color: #59c45a;
  }
  .section__content {}
  .section__header + .section__content {
    margin-top: 75px;
  }
  .section_small > .section__header + .section__content {
    margin-top: 55px;
  }
  .section__footer {}
  .section__content + .section__footer {
    margin-top: 100px;
  }
  .section__controls {
    text-align: center;
  }

/* ********************************************************************************************* */

.favorable {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows:  1fr 1fr;
  grid-gap: 30px;
  margin: 0 auto;
}
  .favorable__item {}
  .favorable__image {
    width: 100%;
    max-width: 270px;
  }
  .favorable__info {}
  .favorable__title {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
  }
  .favorable__description {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 22px;
    color: #959595;
  }
  .favorable__title + .favorable__description {
    margin-top: 22px;
  }

/* ********************************************************************************************* */

.carousel {
  position: relative;
  height: 100%;
  overflow: hidden;
}
  .carousel__item {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    opacity: 1;
    transition: opacity .3s linear;
  }
  .carousel__item_transparent {
    opacity: 0;
  }
  .carousel__dots {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99999;
  }
  .carousel__dot {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ffffff;
    opacity: .5;
    font-size: 0;
    transition: opacity .3s linear;
  }
  .carousel__dot + .carousel__dot {
    margin-left: 6px;
  }
  .carousel__dot_active {
    opacity: 1;
  }
/* ********************************************************************************************* */

.service {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows:  1fr 1fr;
  grid-gap: 35px 60px;
}
  .service__row {}
  .service__row + .service__row {
    margin-top: 25px;
  }
  .service__icon {
    display: block;
    margin: 0 auto;
  }
  .service__description {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #959595;
  }

/* ********************************************************************************************* */

.tour {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 30px;
  max-width: 1170px;
  margin: 0 auto;
}
  .tour__item {
    display: block;
    width: 100%;
    margin: 0 auto;
  }

/* ********************************************************************************************* */

@media screen and (max-width: 1280px) {
  .section {}
    .section_small {
      padding: 30px;
    }
    .section_small > .section__header + .section__content {
      margin-top: 30px;
    }

  /* ******************************************************************************************* */

  .service {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 25px;
  }
    .service__item {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: flex-start;
    }
    .service__row {}
    .service__row + .service__row {
      margin-top: 0;
      margin-left: 15px;
    }
    .service__icon {
      position: relative;
      top: 7px;
    }
}

/* ********************************************************************************************* */

@media screen and (max-width: 1000px) {
  .header {}
    .header__top-bar {
      flex-direction: column;
      height: auto;
    }
    .header__brand {
      max-width: 100%;
      padding: 20px;
    }
    .header__navigation {
      max-width: 100%;
    }

  /* ******************************************************************************************* */

  .navigation {
    height: auto;
  }
    .navigation__list {
      flex-direction: column;
      justify-content: center;
    }
    .navigation__item {
      width: 100%;
      line-height: 60px;
      text-align: center;
    }

  /* ******************************************************************************************* */

  .jumbotron {
    max-width: 100%;
  }
    .jumbotron__row {}
    .jumbotron__row + .jumbotron__row  {
      margin-top: 25px;
    }
    .jumbotron__row + .jumbotron__row_lowered  {
      margin-top: 45px;
    }
    .jumbotron__title {
      font-size: 38px;
    }
    .jumbotron__description {
      font-size: 18px;
      line-height: 28px;
    }

  /* ******************************************************************************************* */

  .section {}
    .section_split {
      flex-direction: column;
      align-items: center;
    }
    .section_split > .section__item {
      min-width: 100%;
    }

  /* ******************************************************************************************* */

  .favorable {
    grid-template-columns: 1fr 2fr;
    grid-template-rows:  1fr 1fr 1fr 1fr;
    max-width: 100%;
  }

  /* ******************************************************************************************* */

  .carousel {
    height: 500px;
  }

  /* ******************************************************************************************* */

  .button {
    font-size: 18px;
    padding: 16px 24px;
  }
}

@media screen and (max-width: 762px) {
  .section {}
  .section__content + .section__footer {
    margin-top: 80px;
  }
  .favorable {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, auto);
  }
    .favorable__item {
      text-align: center;
    }
}
